# Dependencies
node_modules
node_modules/
/.pnp
.pnp.js

# Testing files and scripts
/test
/scripts
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

# Production build
/.next/
/out/
/build
/dist

# Environment variables
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# GitHub (allow workflows)
.settings/

# TypeScript
*.tsbuildinfo
next-env.d.ts


# Documentation (except README.md)
*.md
!README.md

# Cache
.cache/
.parcel-cache/
.eslintcache

# Misc and json file
*.pem

# cd workflows
